# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

Examples of arithmetic expressions:

- `5 + 3` adds two numbers
- `10 - 2` subtracts one number from another
- `4 * 7` multiplies two numbers
- `16 / 2` divides one number by another

In [1]:
# This will multiply and then add two numbers
(3 * 4) + 5

17

In [2]:
# Convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [3]:
# Objectives of this notebook:
objectives = [
    "List popular languages for Data Science",
    "List commonly used libraries in Data Science",
    "Demonstrate arithmetic operations",
    "Convert units using Python"
]
for objective in objectives:
    print("- " + objective)

- List popular languages for Data Science
- List commonly used libraries in Data Science
- Demonstrate arithmetic operations
- Convert units using Python

**Autor**: Romina Duque B.